.container {
  padding: 0.5rem;
  width: 27rem;
  height: 32rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--gray-600);
}

.titulo {
  color: var(--gray-100);
  font-size: 2rem;
}

.contadorDisplay {
  font-size: 4rem;
  font-weight: bold;
  color: var(--primary);
}

.botao {
  font-size: 1.4rem;
  color: var(--gray-900);
  padding: 2rem;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background-color: var(--gray-300);
  cursor: pointer;
  transition: 0.2s;
}

.botao:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.botaoContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
