@font-face {
    font-family: 'Aton';
    src: url('../fonte/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Aton';
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: larger;
    color: rgb(0, 0, 0);
}

p{
    color: rgb(0, 0, 0);
}


.exemplo {
    color: brown;
    font-family: 'Aton';
}

pre{
    color: rgb(0, 0, 0)
    ;
}
code{
    color: rgb(0, 0, 0);
}