@font-face {
    font-family: 'Aton';
    src: url('../fonte/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito-Italic';
    src: url('../fonte/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonte/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manuscrito';
    src: url('../fonte/ShadowsIntoLight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



h1{
    font-family: "Aton";
    text-align: center;
}

h2{
    font-family: "Aton";
    text-align: justify;
}

.Jesus{
    font-family: "Roboto Condensed", sans-serif;
    text-align: justify;
    text-indent: 1em;
    color: red;
}

.versículo{
    font-family: "Roboto Condensed", sans-serif;
    text-align: justify;
    text-indent: 1em;
}

sup{
    color: black;
    font-weight: bolder;
}
