@font-face{
    font-family: 'Casta';
    src: url('/Front-page/fonte/Casta-BlackExpandedSlanted.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --cor-menu: #212121;
    --cor-pag1: #6994cd;    
    --cor-pag2: #f7fda0;
    --cor-pag3: #ccc9a1;
    --cor-texto-menu: #ffffff;
    --cor-glorificar: #b9b09f;
    --cor-edificar: #fff6ea;
    --fonte-marca: 20px 'Playwrite VN';
    --fonte-texto: 20px 'Casta';
} 
*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
    scroll-behavior: smooth;
}
.voltar{
    width: 55px;
    height: 55px;
    background-image: url(https://tenosoftsistemas.com.br/portal/v81/_lib/img/sys__NM__img__NM__topo.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.voltar:hover{
    transform: translateY(-10px);
}
.container1{
    background-color: var(--cor-pag1);
    height: 100vh;
    width: 100vw;
}
.cabecalho{
    height: 14vh;
    width: auto;
    background-color: var(--cor-menu);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.marca{
    justify-content: right;
    text-align: center;
    color: var(--cor-texto-menu);
    font: var(--fonte-marca);
    display: inline-flex;
    display: flex;
    background-color: var(--cor-menu);
    padding: 15px 15px;
}
a{
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: right;
    align-items: center;
}
.menu ul{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor-menu);
}
.menu li{
    list-style: none;
    background-color: var(--cor-menu);
}
.menu a{
    display: inline-block;
    padding: 25px 15px;
    text-decoration: none;
    color: var(--cor-texto-menu);
    transition: 0.3s;
}
.menu a:hover{
    
    border-radius: 15%;
    border: 2px solid var(--cor-texto-menu);
    transition: 0,25s;
}
#page1{
    height: 86vh;
    display: flex;
    align-items: center;
    background-image: url('https://mtracks.azureedge.net/public/images/artists/hero/2420/1362.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#page1 img{
    height: 200px;
    align-items: end;
}
.circulo1{
    height: 200px;
    width: 200px;
    margin-right: 6.25rem;
    border: 0.7em solid white ;
    border-radius: 50%;
    background-image: url('https://yt3.googleusercontent.com/ytc/AIdro_nR4plSzv2RkzLw-4FQiBbrTQeRQ1YRZ2N1tnJsipQW7g=s900-c-k-c0x00ffffff-no-rj');
    background-position: center;
    background-size: cover;

}
#page1 p{
    font: var(--fonte-texto);
}
.container2{
    background-color: var(--cor-pag2);
    height: 100vh;
    width: 100vw;
}
#page2{
    background-color: var(--cor-pag2);
}
.container3{
    background-color: var(--cor-pag3);
    height: 100vh;
    width: 100vw;
}
#page3{
    background-color: var(--cor-pag3);
}