@font-face{
    font-family: 'Casta';
    src: url('/Front-page/fonte/Casta-BlackExpandedSlanted.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Carme';
    src: url('/Front-page/fonte/Carme-Regular.ttf');
}
:root{
    --cor-menu: #000000;
    --cor-pag1: #6994cd;    
    --cor-pag2: #f7fda0;
    --cor-pag3: rgb(15, 15, 15);
    --cor-pag4: #6c1b17;
    --cor-pag5: rgb(15, 15, 15);
    --cor-album: #344454;
    --cor-texto-menu: #ffffff;
    --cor-texto-menu-hover: #942621;
    --cor-glorificar: #ffffff;
    --fonte-marca: 1.56rem 'Playwrite ES';
    --fonte-subtitulo: 2.19rem 'Casta';
    --fonte-texto: 1rem 'Carme';
    --fonte-album: 1rem 'Roboto Mono';
    --fonte-filme: 3.3rem "Bebas Neue", sans-serif;
    --fonte-filme2: 2rem "Bebas Neue", sans-serif;
    --fonte-titulo: 3rem 'Bebas Neue';
    --fonte-bio: 1.26rem 'Raleway', sans-serif;
} 
*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
    scroll-behavior: smooth;
}

.voltar{
    width: 3.4375rem;
    height: 3.4375rem;
    background-image: url(https://tenosoftsistemas.com.br/portal/v81/_lib/img/sys__NM__img__NM__topo.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    bottom: 0.625rem;
    right: 0.625rem;
    transition: 0.5s;
    cursor: pointer;
}
.voltar:hover{
    transform: translateY(-0.625rem);
}
.container1{
    background-color: var(--cor-pag1);
    height: 100vh;
    width: 100vw;
}
.cabecalho{
    height: 12vh;
    width: 100%;
    background-color: var(--cor-menu);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
.marca{
    justify-content: right;
    text-align: center;
    color: var(--cor-texto-menu);
    font: var(--fonte-marca);
    display: inline-flex;
    display: flex;
    padding: 0.9375rem 0.9375rem;
}
.marca p{
    font: var(--fonte-marca);
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
    font: 0.9rem 'Roboto Mono';
}
h1{
    color: rgb(255, 239, 158);
    font: 2rem 'Bebas Neue';
}
.menu{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
}
.menu ul{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu li{
    list-style: none;
}
.menu a{
    display: inline-block;
    padding: 1.6875rem 1.25rem;
    text-decoration: none;
    color: var(--cor-texto-menu);
    transition: 0.3s;
}
.menu a:hover{
    border-radius: 15%;
    color: var(--cor-texto-menu-hover);
    transition: 0.3s;
}   
#page1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    background-image: url('https://mtracks.azureedge.net/public/images/artists/hero/2420/1362.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
} 
.perfis{
    height: 2.5rem;
    width: 100%;
    display: flex;
}
.circulo1{
    height: 12.5rem;
    width: 12.5rem;
    border: 0.7em solid white ;
    border-radius: 50%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrdDEzkVaviau7S6Y7Xpl1kjgIB6WUKrP-Ig&s');
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    transition: 1s;
}

.glorificar{
    color: var(--cor-glorificar);
    font: var(--fonte-subtitulo);
    margin-left: 7rem;
}
.youtube{
    display: flex;
    justify-content: right;
    align-items: center;
}
#img_youtube{
    height: 2.5rem;
    width: 2.5rem;
}
.instagram{
    display: flex;
    justify-content: right;
    align-items: center;
}
#img_instagram{
    height: 2.1875rem;
    width: 2.1875rem;
}
.container2{
    background-image: url('https://static.wixstatic.com/media/7a7185_5ff163119f8745308369aa3c890af0db~mv2.png/v1/fill/w_1904,h_868,al_c,q_90,enc_auto/Ouça.png');
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
    align-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.page2{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
.caixa{
    flex: 1;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    flex-wrap: wrap;
}
.caixa:hover{
    flex: 3;
    transition: 1s;
}
.album{
    font: var(--fonte-album);
    color: var(--cor-texto-menu);
    text-align: center;
}
.albuns{
    height: 200px;
    width: 200px;
    background-color: var(--cor-album);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Volume_1{
    height: 200px;
    width: 200px;
    background-image: url('https://is1-ssl.mzstatic.com/image/thumb/Music30/v4/07/44/03/074403f8-c93c-cd8c-e6da-f0e34eb5c63b/mzm.nteuabja.jpg/592x592bb.webp');
    background-size: cover;
}
#quinhentos{
    height: 200px;
    width: 200px;
    background-image: url('https://akamai.sscdn.co/uploadfile/letras/albuns/4/d/d/9/612431513711684.jpg');
    background-size: cover;
}
#Homem_Liturgico{
    height: 200px;
    width: 200px;
    background-image: url('https://akamai.sscdn.co/uploadfile/letras/albuns/7/5/d/c/937301596206739.jpg');
    background-size: cover;
}
#Advento{
    height: 200px;
    width: 200px;
    background-image: url('https://akamai.sscdn.co/letras/360x360/albuns/8/e/a/f/2078651704463259.jpg');
    background-size: cover;
}
#glorificar_e_edificar{
    height: 200px;
    width: 200px;
    background-image: url('https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/22/7f/a6/227fa61c-27e2-7053-9f89-795fe0948b17/859748548219_cover.jpg/1200x1200bb.jpg');
    background-size: cover;
}
.container3{
    background-color: var(--cor-pag3);
    height: 150vh;
    width: 100vw;
}
.page3{
    background-color: var(--cor-pag3);
    height: 150vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.filme{
    font: var(--fonte-filme);
    color: white;
}
.filme2{
    font: var(--fonte-filme2);
    color: rgb(255, 144, 47);
    margin-bottom: 1.5rem;
}
.biografia{
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.biografia h1{
    font: var(--fonte-titulo);
}
.texto_bio{
    font: var(--fonte-bio);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container4{
    background-color: var(--cor-pag4);
    height: 130vh;
    width: 100%;
}
.page4{
    height: 120vh;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5{
    background-color: var(--cor-pag5);
    height: 25vh;
    width: 100%;
}
.page5{
    background-color: var(--cor-pag5);
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.redes{
    margin-left: 2rem;
    height: 100px;
}
.contatos{
    margin-left: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: right;

}
.contatos p{
    display: flex;
    color: white;
}
.contatos a{
    color: white;
}