@font-face {
    font-family: 'Gumball';
    src: url(/Front-page/fonte/Nunito-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas';
    src: url(/Front-page/fonte/BebasNeue-Regular.ttf);
}
:root{
    --fonte-titulo: 'Bebas';
    --fonte-p: ''
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: right;
    padding: 1rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

h1{
    font-family: 'Bebas';
    font-size: 2.2rem;
    font-weight: 100;
}

p{
    font-family: 'Gumball';
    font-size: 1rem;
    font-weight: 100%;
    margin-bottom: 10px;
}

.imagem{
    background-image: url('https://yt3.googleusercontent.com/zwGBrpC2qIV9k3TmxT12oCI5PPR1N8duTvynSINVOgF6OTY4lAgLf7BeMt1jWowvFQlkY7QB=s900-c-k-c0x00ffffff-no-rj');
    height: 100%;
    width: 65%;
    background-size: cover;
    background-position: center;
    border-radius: 1.0625rem;
}